<div style="background-image: url('<%= asset_path("back_ground.webp") %>');" class="bg-custom min-h-screen flex flex-col pt-5 font-mplus">
  <div class="divide-y bg-white w-full max-w-6xl mx-auto p-8 overflow-y-auto" style="max-height: calc(100vh - 160px);">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <h2 class="mt-6 text-3xl font-extrabold text-center text-black"><%= @event.name %>日程登録</h2>
    </div>
    <%= form_with model: @schedule_input, url: event_schedule_inputs_path(@event), local: true do |f| %>
      <div class="mb-4">
        <%= f.label :player_name, 'プレイヤー名', class: "block text-2xl text-left" %>
        <%= f.text_field :player_name, placeholder: "プレイヤー名を入力してください", class: "w-full p-3 border border-black rounded-lg" %>
      </div>

     <div class="mb-4">
       <%= f.label :job, 'ジョブor武器(候補にない場合は未入力)', class: "block text-2xl text-left" %>
        <% job_options = ["該当なし","タンク","ヒーラー","DPS","ガンナー","近接戦闘","遠隔戦闘"] %>
        

        <div style="max-height: 200px; overflow-y: auto;">
        <%= f.select :job, 
        options_for_select(job_options, "該当なし"), 
        {}, 
        { class: "w-full p-3 border border-black rounded-lg" } %>
        </div>

      <div class="flex flex-col w-full border-t border-r border-black mt-8">
        <div class="flex bg-blue-500 text-white">
          <div class="flex items-center w-32 h-10 px-2 border-b border-l border-black"><span>日付</span></div>
          <div class="flex items-center w-10 h-10 border-b border-l border-black justify-center"><span>〇</span></div>
          <div class="flex items-center w-10 h-10 border-b border-l border-black justify-center"><span>✕</span></div>
          <div class="flex items-center w-10 h-10 border-b border-l border-black justify-center"><span>△</span></div>
          <div class="flex items-center flex-grow h-10 px-2 border-b border-l border-black"><span>△の備考記入欄</span></div>
        </div>

        <% @event.event_times.each do |event_time| %>
          <div class="flex">
            <div class="w-32 h-10 px-2 border-b border-l border-black flex items-center">
              <span><%= event_time.start_time.strftime('%Y-%m-%d %H:%M') %></span>
            </div>
            <div class="w-10 h-10 border-b border-l border-black flex justify-center items-center">
              <%= f.radio_button :response, 'ok', id: "response_ok_#{event_time.id}", name: "schedule_input[response][#{event_time.id}]" %>
            </div>
            <div class="w-10 h-10 border-b border-l border-black flex justify-center items-center">
              <%= f.radio_button :response, 'ng', id: "response_ng_#{event_time.id}", name: "schedule_input[response][#{event_time.id}]" %>
            </div>
            <div class="w-10 h-10 border-b border-l border-black flex justify-center items-center">
              <%= f.radio_button :response, 'maybe', id: "response_maybe_#{event_time.id}", name: "schedule_input[response][#{event_time.id}]" %>
            </div>
            <div class="flex items-center flex-grow h-10 px-2 border-b border-l border-black">
              <%= f.text_field :comment, placeholder: "△の備考記入欄", class: "w-full p-1 border border-black rounded-lg", name: "schedule_input[comment][#{event_time.id}]" %>
            </div>
            <%= f.hidden_field :event_time_id, value: event_time.id, name: "schedule_input[event_time_id][#{event_time.id}]" %>
          </div>
        <% end %>
      </div>

      <%= f.submit "登録", class: "p-3 bg-orange-400 w-full text-white font-bold rounded-lg hover:bg-orange-500" %>
    <% end %>
  </div>
</div