<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-D6XDH1GQ49"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-D6XDH1GQ49');
    </script>
    <title><%= content_for(:title) || "Gamers_Planner" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:url" content="https://gamers-planner.onrender.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Gamer's Planner">
    <meta property="og:description" content="ゲームプレイヤー同士の予定作成に特化した日程調整サービスです。モンハンとFF14に対応中。">
    <meta property="og:site_name" content="Gamer's Planner">
    <meta property="og:image" content="https://gamers-planner.onrender.com/ogp_image.png?v=3">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Gamer's Planner">
    <meta name="twitter:description" content="ゲームプレイヤー同士の予定作成に特化した日程調整サービスです。モンハンとFF14に対応中。">
    <meta property="og:image" content="https://gamers-planner.onrender.com/ogp_image.png?v=3">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" href="/favicon.ico?v=3">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
   <%= javascript_include_tag "application", type: "module", "data-turbo-track": "reload" %>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
  </head>

  <body class="flex flex-col min-h-screen">
  <% if flash[:notice] %>
    <div class="p-4 mb-4 text-sm rounded-lg border text-green-800 bg-green-50 border-green-300 dark:bg-gray-800 dark:text-green-400 dark:border-green-800" role="alert">
    <%= flash[:notice] %>
    </div>
  <% end %>
  <% if flash[:warning] %>
    <div class="p-4 mb-4 text-sm rounded-lg border text-red-800 bg-red-50 border-red-300 dark:bg-gray-800 dark:text-red-400 dark:border-red-800" role="alert">
    <%= flash[:warning] %>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class="p-4 mb-4 text-sm rounded-lg border text-red-800 bg-red-50 border-red-300 dark:bg-gray-800 dark:text-red-400 dark:border-red-800" role="alert">
      <%= flash[:alert] %>
    </div>
  <% end %>

    <%= render 'shared/header' %>

    <main class="flex-grow w-full">
    <%= yield %>
    </main>
    
    <%= render 'shared/footer' %>
    <script defer src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
  </body>
</html>
